* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(98, 126, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
  margin-bottom: 40px;
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#game {
  width: auto;
  height: 500px;
  display: flex;
  gap: 35vw;
}

.grid {
  display: flex;
  width: 250px;
}

.column {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.square {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}

h3 {
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.ship {
  background-color: rgb(160, 160, 160);
}

.hit::after {
  content: "x";
  color: red;
  font-size: 30px;
  position: relative;
  bottom: 15%;
  left: 20%;
}

.miss::after {
  content: "o";
  font-size: 30px;
  position: relative;
  bottom: 15%;
  left: 20%;
}

dialog {
  margin: auto;
  margin-top: 10vh;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}

dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

dialog h2 {
  font-size: 30px;
  text-align: center;
}

button {
  margin-top: auto;
  font-size: 20px;
  border-radius: 5px;
  width: 100px;
  outline: none;
  border: 2px solid rgb(168, 168, 168);
  transition: background-color 100ms linear;
}

button:hover {
  background-color: lightgray;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

.square {
  transition: background-color 100ms linear;
}

.square:hover {
  background-color: rgb(209, 209, 209);
}

#player-one button {
  margin-top: 10px;
  font-size: 15px;
}
